<div class="container">
    <h3>Detail User</h3>
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>Tên</th>
          <th>Tài Khoản</th>
          <th>Giới tính</th>
          <th>Email</th>
          <th>Địa chỉ</th>
          <th>Quyền</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= data.rows.ten %>
          </td>
          <td>
            <%= data.rows.taikhoan %>
          </td>
          <td>
            <%= data.rows.gioitinh %>
          </td>
          <td>
            <%= data.rows.email %>
          </td>
          <td>
            <%= data.rows.diachi %>
          </td>
          <td>
            <%= data.rows.quyen %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>